* {
  margin: 0;
  padding: 0;
}

.button {
  background-color: #2563eb;
  padding: 12px 20px;
  color: white;
  border: none;
  border-radius: 8px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 6%;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar ul li a {
  text-decoration: none;
}
